*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: 'Gilroy';
}
html,body{
width: 100%;
height: 100%;
}

:root{
  --primary-color:#ACC7B4;
  --secondary-color:#331B3F;
}
ul{
  list-style: none;
}
body{
  height: 100vh;
  background:var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  width: 90%;
  max-width: 500px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background-color: var(--primary-color);
  padding: 2.5vh 2.5vw;
  border-radius: 10px;

}
.container h1{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 2vw;
  margin-bottom: 1.5vh;
  color: var(--secondary-color);
}
.container h1 img{
  width: 3vw;
}
.to-do-container{
   
}
.inpt-box{
  display: flex;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 15px;
}
.inpt-box input{
  flex: 1;
  padding: 1vh 2vw;
  border: 0;
  outline: 0;
color: var(--secondary-color);
background-color: transparent;
font-size: 1.5vw;
}
.inpt-box button{
  padding: 1vw 2vw;
  border: 0;
  outline: 0;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 1.5vw;
  border-radius: 0px 15px 15px 0;
  cursor: pointer;
}

#ul-box{
  margin-top: 1.1vh;
  padding: 2vh 2.2vw;
  width: 100%;
 
}
#ul-box li{
  font-size: 1.7vw;
  position: relative;
  margin-top: 2.5vh;
  color: var(--secondary-color);

}
#ul-box li span{
  position: absolute;
  right: 5px;
  cursor: pointer;

}

#errmsg{
  margin-top: 2vw;
}
.editBtn{
 padding: .6vw;
 border-radius: 10px;
 border: none;
 outline: none;
 margin-left: 2vw;
 cursor: pointer;
 background-color: var(--secondary-color);
 color: var(--primary-color);
}
